:root{
    --text-color: #434455;
    --white-background: #FFFFFF;
    --dark-color: #2E2F42;
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --light-color: #F4F4FD;
    --accent-color: #E7E9FC;
}
body{
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    background-color: var(--white-background);
}
button{
    cursor: pointer;
}
ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
     padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}
img{
    display: block;
}

a{
    text-decoration: none;
}
.link{
    text-decoration: none;
}

.list{
    list-style: none;
}
.container{
    box-sizing: border-box;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.visually-hidden{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

/*  header  */
.header{
  
 border-bottom: 1px solid var(--accent-color);
}
.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav{
    display: flex;
    align-items: center;
       
}
.header-list{
    display: flex;
    gap: 40px;
}
.address{
    display: flex;
    align-items: center;
    font-style: normal;
}

.nav-list{
    display: flex;
    align-items: center;
    padding: 24px 0;
    justify-content: flex-end;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
   
}
.nav-list:hover,
.nav-list:focus{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--pressed-state);
}
.address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color)
}
.address-link:hover,
.address-link:focus{
    color: var(--pressed-state);
    text-decoration: underline;
}
.nav-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-brand);
    margin-right: 76px;
}
.accent{
    color: var(--dark-color);
}
.accent-footer{
    color: var(--light-color);
}

/* main */
.main {
        background-color: var(--dark-color);
        padding: 188px 0;
}
.main-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    max-width: 496px;
    color: var(--white-background)

}
.order-button{
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-background);
    background-color: var(--primary-brand);
}
.order-button:hover,
.order-button:focus{
    background-color: var(--pressed-state);
}
.section-featur{
    padding: 120px 0;
    
}
.featur-list{
    display: flex;
    flex-wrap: wrap;
    /* width: calc((100%-8*3)/4); */
    /* row-gap: 8px; */
    gap: 24px;
   
}
.featur-item{
    width: calc((100% - 24px*3) / 4);
}
.featur-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}
.featur-body{
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text-color);
   max-width: 264px;   
}
.our-deal-section{
    padding-top: 60px;
    padding-bottom: 120px;
}
.section-name{
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--dark-color);
   margin-bottom: 72px; 
}
.what{
   padding-top: 0 0;
   margin-bottom: 120px;
}
.our-deal{
    display: flex;
    gap: 24px;
    /* justify-content: space-between; */
}
.our-deal-item{
    width: calc((100%-24px*2))/3;
}
.our-team{
    background-color: var(--light-color);
    padding-top: 120px;
    padding-bottom: 120px;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    
    /* justify-content: space-between; */

    gap: 24px;
}
.team-mates{
    text-align: center;
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: var(--dark-color);
 /* margin-top: 32px; */
 margin-bottom: 8px;   
}
.prof{
    text-align: center;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: var(--text-color); 
}
.team-cards{
    background-color: var(--white-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
    /* padding-bottom: 32px; */
    width: calc((100%-3*24)/4);
}
.mates{
    padding: 32px 16px;
}


.page-footer{
    background-color: var(--dark-color);
    padding: 100px 0;
}
.footer{
display: inline-block;
margin-right: 0;
margin-bottom: 16px;
}

.footer-text{
    max-width: 264px;
    /* margin-top: 16px; */
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color)
  
}
.section-portfolio{
    padding-top: 96px;
    padding-bottom: 120px;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    /* padding-top: 72px; */
    /* padding-bottom: 120px; */
 }

.portfolio-item{
width: calc((100%-24*2)/3);
}

.portfolio-card{
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: none;
}

.portfolio-list-item{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--dark-color);
        margin-bottom: 8px;
}
.portfolio-list-app{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--text-color);
}
.button-filtr {
    background-color: var(--light-color);
    color: var(--primary-brand);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    padding: 12px 24px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.button-filtr:last-child {
    /* margin-right: 24px; */
}

.button-filtr:hover,
.button-filtr:focus {
    background-color: var(--pressed-state);
    color: var(--white-background);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    border: 1px solid transparent;
}
.button-list{
    display: flex;
    justify-content: center;
    /* padding-top: 96px; */
    margin-bottom: 72px;
    gap: 24px;
    /* justify-content: space-between; */
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    width: calc((100%-2*24)/3);
}